{% extends "ticketSales/layout.html" %}

{%load static%}

{% block title %} Password reset sent {% endblock %}

{% block main %}
<div class="bgcolor">
    <div class="new1">
        <nav class=" navbar-expand-lg">
            <a class="navbar-brand" href="{% url 'home' %}"> <img class="logo" src="{%static 'ticketSales/images/logo.png' %}"/> </a>
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page" href="{% url 'home' %}"> Home </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
        <div class="container-reset-pass">
            <div class="wrap-reset-pass-done " with="auto">
                <div class="wrap-reset-passw">
                    <h2 class="Forg_pass1" >Password reset sent</h2>
                </div>
                <p class="forg_pass2" > We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>
            </div>
        </div>
    </div>

{% endblock %}
