{% extends "ticketSales/layout.html" %}

{% block title %} Login {% endblock %}

{% block main %}

    <div class="bgcolor">
        {% include "webapp/header.html" %}

        <div class="">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form" action="{% url 'reset_password_page' active_code=user.email_active_code %}" method="POST">

                        <span class="login100-form-title p-b-26">
                            Forgot_password
                        </span>

                        {% csrf_token %}

                        {{ reset_pass_form.password.label_tag }}
                        {{ reset_pass_form.password }}
                        {{ reset_pass_form.password.errors }}

                        {{ reset_pass_form.confirm_password.label_tag }}
                        {{ reset_pass_form.confirm_password }}
                        {{ reset_pass_form.confirm_password.errors }}

                        <button type="submit" class="btn btn-default"> Forgot_password </button>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
